<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".updatevenue" />
        <activity android:name=".updatesalon" />
        <activity android:name=".updatedecorater" />
        <activity android:name=".updatedesigner" />
        <activity android:name=".updatephotographer" />
        <activity android:name=".updatecaterer" />
        <activity android:name=".userlogin" />
        <activity android:name=".adminlogin" />
        <activity android:name=".stp2admin" />
        <activity android:name=".addVenue" />
        <activity android:name=".VenueDetails" />
        <activity android:name=".addDecoraters" />
        <activity android:name=".decoraterDetails" />
        <activity android:name=".addCaterers" />
        <activity android:name=".catererDetails" />
        <activity android:name=".addPhotographer" />
        <activity android:name=".DjDetails" />
        <activity android:name=".addDj" />
        <activity android:name=".photographerDetails" />
        <activity android:name=".addDesigners" />
        <activity android:name=".designerDetails" />
        <activity android:name=".addSalon" />
        <activity android:name=".salonDetails" />
        <activity android:name=".updateDj" />
        <activity android:name=".stp2User" />
        <activity android:name=".viewVenues" />
        <activity android:name=".viewDecor" />
        <activity android:name=".viewSalons" />
        <activity android:name=".viewCaterer" />
        <activity android:name=".viewDesigners" />
        <activity android:name=".viewDj" />
        <activity android:name=".viewPhotographers" />
        <activity android:name=".bookEvent" />
        <activity android:name=".viewVenueDetails" />
        <activity android:name=".viewDesignerDetails" />
        <activity android:name=".viewDjDetails" />
        <activity android:name=".viewCaterersDetails" />
        <activity android:name=".viewDecorDetails" />
        <activity android:name=".viewPhotographerDetails" />
        <activity android:name=".viewSalonDetails" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".user_home" />
        <activity android:name=".view_book_event" />
        <activity android:name=".booked_list" />
        <activity android:name=".viewbookedCaterersDetails" />
        <activity android:name=".viewbookedDecorDetails" />
        <activity android:name=".viewbookedDjDetails" />
        <activity android:name=".viewbookedDesignerDetails" />
        <activity android:name=".viewbookedSalonDetails" />
        <activity android:name=".viewbookedPhotographerDetails" />
        <activity android:name=".viewbookedvenueDetails" />
        <activity android:name=".admin_home" />
        <activity android:name=".admin_booked_list" />
        <activity android:name=".admin_view_booked_event"></activity>
    </application>

</manifest>